$red-color: #e63946;
$white-color: #fff;
$light-blue: #a8dadc;
$middle-blue: #457b9d;
$dark-blue: #1d3557;

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-header {
  background-color: $dark-blue;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $white-color;
  z-index: 10;

  .title {
    text-decoration: underline;
  }

  .navigation {
    ul {
      display: flex;
      margin: 0;
      li {
        margin: 0 10px;
        cursor: pointer;

        .active {
          color: $red-color;
        }
      }
    }
  }
}

main {
  section {
    padding: 5rem 0;
    height: 1080px;
    // min-height: 900px;
  }
  .greeting {
    position: relative;
    height: 100vh;
    .greeting-title {
      width: 100%;
      position: absolute;
      top: 50%;
      text-align: center;
      color: #fff;
    }
  }
  .about-me {
    h2 {
      text-align: center;
      color: $middle-blue;
    }
    .information {
      display: flex;
      justify-content: center;
      img {
        height: 250px;
        margin-right: 2%;
      }
      p {
        font-size: 25px;
        text-align: justify;
        line-height: 1.7;
        color: $dark-blue;
      }
    }

    .contacts {
      ul {
        justify-content: center;
        display: flex;
        background-color: $dark-blue;
        color: $light-blue;
        padding: 2px 0;
        li {
          padding: 0 10px;
          font-size: 23px;
          text-transform: uppercase;
          i {
            margin-right: 7px;
          }
        }
      }
    }
    .github-repos {
      ul {
        padding-left: 0;
        li {
          border-bottom: 1px solid $dark-blue;
          color: $dark-blue;
          margin: 2px 0;
          padding: 2px 20px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .send-email {
    position: relative;
    h2 {
      text-align: center;
      color: $middle-blue;
    }
    form {
      display: flex;
      flex-direction: column;
      & > * {
        margin: 20px 0;
        border: 0;
        border-bottom: 1px solid $dark-blue;
        color: $dark-blue;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 5px;
      }
      textarea {
        resize: none;
        line-height: 2;
      }
      input[type='submit'] {
        border: none;
        background-color: $dark-blue;
        color: $light-blue;
        font-size: 25px;
        padding: 5px 30px;
        text-transform: uppercase;
        width: 12rem;
      }
    }
  }
}
