@media all and (max-width: 1199px) {
  main {
    .greeting {
      .greeting-title {
        font-size: 35px;
      }
    }
    .projects {
      .projects-wrapper {
        .projects-list {
          padding: 20px 40px;
          li {
            div {
              img {
                width: 250px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  main {
    .greeting {
      .greeting-title {
        font-size: 28px;
      }
    }

    .about-me {
      .information {
        img {
          height: 210px;
        }
        p {
          font-size: 18px;
        }
      }
      .contacts {
        ul {
          li {
            font-size: 20px;
          }
        }
      }
    }

    .stack {
      .tech-stack-list {
        li {
          span {
            font-size: 15px;
          }
        }
      }
    }

    .projects {
      .projects-wrapper {
        .projects-list {
          li {
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
              margin-bottom: 20px;
            }
            div {
              img {
                width: 180px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .main-header {
    .menu-wrapper {
      display: block !important;
      .navigation-small {
        display: block !important;
      }
    }

    .navigation {
      display: none;
    }
  }

  main {
    .greeting {
      .greeting-title {
        font-size: 25px;
      }
    }

    .about-me {
      .information {
        display: block;
        img {
          float: left;
          height: 180px;
        }
        p {
          font-size: 18px;
        }
      }
      .contacts {
        ul {
          li {
            font-size: 15px;
          }
        }
      }
    }

    .github-repos {
      ul {
        li {
          font-size: 14px;
          h5 {
            font-size: 15px;
          }
        }
      }
    }

    .stack {
      .tech-stack-list {
        li {
          img {
            width: 40px;
          }
          span {
            font-size: 14.5px;
            margin-left: 3px;
          }
        }
      }
    }

    .projects {
      .projects-wrapper {
        .projects-list {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          li {
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
              margin-bottom: 20px;
            }
            div {
              img {
                width: 180px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 510px) {
  main {
    .stack {
      .tech-stack-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
    }
    .projects {
      .projects-wrapper {
        .projects-list {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;

          li {
            div {
              img {
                width: 100%;
              }
            }
          }
        }
        .project-detail {
          position: fixed;
          top: 0;
          left: 0;
          background-color: $dark-blue;
          width: 100vw;
          height: 100vh;
          z-index: 10;

          .project-detail-wrapper {
            .description {
              .links {
                z-index: 15;
              }
            }
          }
        }
      }
    }
    .send-email {
      form {
        & > * {
          font-size: 16px;
        }
        input[type='submit'] {
          border: none;
          background-color: $dark-blue;
          color: $light-blue;
          font-size: 18px;
          text-transform: uppercase;
          width: 8rem;
        }
      }
    }
  }
}

@media all and (max-width: 440px) {
  .main-header {
    padding: 3.15px 0;
    .title {
      margin-top: 5px;
      font-size: 22px;
    }
    .menu-wrapper {
      .toggler {
        height: 30px;
        width: 20px;
      }
    }

    label {
      margin-top: 5px;
      i {
        font-size: 22px !important;
      }
    }
  }

  main {
    section > h2 {
      font-size: 19px;
    }
    .about-me {
      .information {
        img {
          height: 150px;
        }
        p {
          font-size: 16px;
        }
      }
      .contacts {
        ul {
          flex-direction: column;
          align-items: center;
          li {
            margin: 2px 0;
          }
        }
      }
    }
  }
}

@media all and(max-width: 340px) {
  main {
    .stack {
      .tech-stack-list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      }
    }
  }
}
